<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.datetime_select :release_date %>
  </div>

  <div class="field directors">
    <%= form.collection_select :director_id, Director.all, :id, :first_name %>
  </div>

  <div class="field address">
    <%= fields_for @movie.address do |address_form| %>
      <div class="field">
        <%= address_form.label :street %>
        <%= address_form.text_field :street %>
      </div>

      <div class="field">
        <%= address_form.label :apartment %>
        <%= address_form.check_box :apartment %>
      </div>

      <div class="field">
        <%= address_form.label :description %>
        <%= address_form.text_field :description %>
      </div>

      <div class="field">
        <%= address_form.label :zipcode %>
        <%= address_form.text_field :zipcode %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
